/*** Body */
* {
    font-family: "Noto Sans Display", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #1b1b1b;
    height: fit-content;
}

main {
    background-color: white;
}

h2 {
    padding: 1em 3em;
    margin: 0;
}

/*** Barre de navigation*/
#navTop {
    position: relative;
    background: linear-gradient(0deg, #1b1b1b, rgb(0, 0, 0));
    display: grid;
    grid-template-columns: 1fr 1fr 0.8fr 0.2fr;
    align-items: center;
    justify-items: center;
    color: white;
    width: 100%;
    height: 10vh;
    z-index: 100;

    label {
        display: none;
    }

    img {
        height: 10vh;
        float: left;
    }

    span {
        line-height: 10vh;
        font-size: 1.3em;
        font-weight: 700;
        text-transform: uppercase;
        font-style: italic;
        vertical-align: center;
    }
}

.recherche {
    padding: 0.5em 1em;
    border-radius: 25px;
    width: 80%;
    min-width: 300px;
    margin: 0 auto;
    border: none;
    box-shadow: inset 0 0 30px rgb(0, 0, 0, 0.2);
}

/*** Menu amovible de droite */
#navRight {
    box-sizing: border-box;
    position: absolute;
    top: -20vh;
    right: 0;
    background-color: #1b1b1b;
    width: 100%;
    height: fit-content;
    z-index: 50;
    transition: all 200ms;
    padding: 1em;

    input {
        display: none;
    }

    .recherche {
        margin: 1em auto;
    }

    .connection {
        display: none;
    }
}

#navRight.navRightOpen {
    top: 10vh;
}

#menu {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3px;
    border: none;
    padding: 0;
    width: 30px;
    height: 30px;
    background-color: transparent;

    div {
        background-color: white;
        height: 7px;
        border-radius: 3px;
        transition: all 200ms;
    }
}

.menuRotate1 {
    transform-origin: top right;
    transform: rotate(-45deg);
    background-color: red !important;
}

.menuRotate2 {
    height: 0px !important;
}

.menuRotate3 {
    transform-origin: bottom right;
    transform: rotate(45deg);
    background-color: red !important;
}



/*** Media Query pour la version mobile */
@media (orientation: portrait) {
    body {
        width: 100vw;
    }

    #navTop {
        grid-template-columns: 5fr 1fr;

        .connection {
            display: none;
        }

        input {
            display: none;
        }
    }

    #navRight {

        >.connection {
            display: block;
        }

        input {
            display: block;
            width: 80%;
            min-width: 80%;
        }

        .navRightOpen {
            top: 10vh;

        }
    }

}