/*** Body */
* {
    font-family: "Noto Sans Display", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #1b1b1b;
    height: fit-content;
}

main {
    background-color: white;
}

h2 {
    padding: 1em 3em 0 3vw;
    margin: 0;
}

/*** Barre de navigation*/
#navTop {
    box-sizing: border-box;
    position: relative;
    background: linear-gradient(0deg, #1b1b1b, rgb(0, 0, 0));
    display: grid;
    grid-template-columns: 1fr 1fr 0.8fr 0.2fr;
    align-items: center;
    justify-items: center;
    color: white;
    width: 100%;
    height: 10vh;
    z-index: 100;

    label {
        display: none;
    }

    #logo {
        height: 10vh;
        float: left;
    }

    span {
        line-height: 10vh;
        font-size: 1.3em;
        font-weight: 700;
        text-transform: uppercase;
        font-style: italic;
        vertical-align: center;
    }

    .connexion {
        justify-self: end;
    }

    div:nth-child(3) {
        width: 100%;
        position: relative;
    }

    #croix {
        position: absolute;
        right: 1em;
        top: 50%;
        translate: 0 -50%;
    }

    >a {
        text-decoration: none;
        line-height: 25px;
        padding: 0.5vh 1vh;
        color: white;
        border: 1px solid white;
        border-radius: 10px;

        >img {
            margin-left: 1vh;
            height: 25px;
            float: right;

        }
    }
}

.recherche {
    box-sizing: border-box;
    padding: 0.5em 1em;
    border-radius: 25px;
    width: 100%;
    min-width: 300px;
    margin: 0 auto;
    border: none;
    box-shadow: inset 0 0 30px rgb(0, 0, 0, 0.2);
}

/*** Menu amovible de droite */
#navRight {
    box-sizing: border-box;
    position: absolute;
    top: -20vh;
    right: 0;
    background-color: #1b1b1b;
    width: 100%;
    height: fit-content;
    z-index: 50;
    transition: all 200ms;
    padding: 1em;
    border-bottom: 1px solid white;
    text-align: right;

    input {
        display: none;
    }

    #rechercheM.recherche {
        margin: 1em auto;
        display: none;
    }

    .connexion {
        display: none;
    }

    #croixM {
        display: none;
    }
    >a {
        text-decoration: none;
        line-height: 25px;
        padding: 0.5vh 1vh;
        color: white;
        border: 1px solid white;
        border-radius: 10px;
        width: fit-content;

        >img {
            margin-left: 1vh;
            height: 25px;
            float: right;

        }
    }

}


/*** Ouverture du menu droite */
#navRight.navRightOpen {
    top: 10vh;
}

/*** Menu burger */
#menu {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3px;
    border: none;
    padding: 0;
    width: 30px;
    height: 30px;
    background-color: transparent;

    div {
        background-color: white;
        height: 7px;
        border-radius: 3px;
        transition: all 200ms;
    }
}

.menuRotate1 {
    transform-origin: top right;
    transform: rotate(-45deg);
    background-color: red !important;
}

.menuRotate2 {
    height: 0px !important;
}

.menuRotate3 {
    transform-origin: bottom right;
    transform: rotate(45deg);
    background-color: red !important;
}

/*** Formulaire */
.formulaire {
    background-color: white;
}

/*** Footer */
Footer {
    color: white;
    width: 100%;
}


/*** Media Query pour la version mobile */
@media (orientation: portrait) {
    body {
        width: 100vw;
    }

    #navTop {
        grid-template-columns: 5fr 1fr;

        .connexion {
            display: none;
        }

        >div:nth-child(3) {
            display: none;
        }

        .recherche {
            display: none;
        }
    }

    #navRight {

        .connexion {
            display: block;
            justify-self: end;
        }

        #rechercheM.recherche {
            display: block;
            width: 100%;
            min-width: 100%;
        }

        .navRightOpen {
            top: 10vh;

        }

        #croixM {
            display: block;
            position: absolute;
            right: 1em;
            top: 50%;
            translate: 0 -50%;
        }

        #autocompleteResultsM {
            display: flex;
            flex-wrap: wrap;
        }

        div:first-child {
            position: relative;
            width: 80%;
            margin: auto;
        }

    }
}